@charset 'utf-8';

/*
  Files should be imported according to the folder they live in, one after the other in the following order:

    abstracts/
    vendors/
    base/
    layout/
    components/
    pages/
    themes/
*/

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/normalize';

@import 'base/base';
@import 'base/responsive';
@import 'base/typography';

@import 'components/header';

@import 'pages/index';