meta(charset='utf-8')
block title
	title tycrek
block description
	meta(name='description', content='tycrek')

//- Device/SEO meta
meta(name='viewport', content='width=device-width, initial-scale=1.0,viewport-fit=cover')
meta(name='keywords', content='tycrek,josh,moore,jmoore')
meta(name='author', content='tycrek')

//- Author Mailto & Icon
link(rel='author', href='mailto:josh.moore@jmoore.dev')
link(rel='icon', href='/images/icons/favicon.ico', type='image/x-icon')
link(rel='icon', href='/images/icons/favicon-32x32.png', type='image/png')

//- Google & Apple
meta(name='google', content='nositelinkssearchbox notranslate')
