include includes/mixins
doctype html
html
	head
		include includes/head
	body
		.row.big3#header-row
			include components/header
		.row.big3#primary-row: #content
			block content
				center: h1 Coming soon!
			block scripts
				include includes/scripts
		.row.big3#footer-row
			include components/footer