//- Generic meta tags
meta(charset='utf-8')
title tycrek's Social Hub
meta(name='description', content="tycrek's link hub. Get to any of my profiles from here.")
link(rel='icon' href='https://imagedelivery.net/cNsTmYlz178gQNL42swQfw/ce95000e-2c51-492d-4e63-b8d4025a5800/public')

//- Device/SEO meta
meta(name='viewport', content='width=device-width,initial-scale=1.0,viewport-fit=cover')
meta(name='keywords', content='tycrek,josh,moore,jmoore')
meta(name='author', content='tycrek')

//- CSS
style
	!= css

//- Scripts
script(src='https://kit.fontawesome.com/bbe1d43ee9.js' crossorigin='anonymous')

if isProd
	script(async defer data-website-id='7625f992-ba2f-4dc0-afd8-fdb49f1adb4f' src='https://umami.jmoore.dev/umami.js')
