//- Generic meta tags
meta(charset='utf-8')
title Home - tycrek
meta(name='description', content="tycrek's link hub. Get to any of my profiles from here.")

//- Device/SEO meta
meta(name='viewport', content='width=device-width,initial-scale=1.0,viewport-fit=cover')
meta(name='keywords', content='tycrek,josh,moore,jmoore')
meta(name='author', content='tycrek')

//- CSS
link(rel='stylesheet', href='/css', type='text/css')

//- Scripts
script(src='/facked.js', type='text/javascript')

if isProd
	script(async defer data-website-id='7625f992-ba2f-4dc0-afd8-fdb49f1adb4f' src='https://umami.jmoore.dev/umami.js')
