doctype html
html.sl-theme-dark
	head
		include head
	body
		include ../node_modules/shoelace-fontawesome-pug/sl-fa-mixin.pug

		.text-3xl.grid.grid-cols-6.gap-4
			sl-icon(library='fa' name='far-rocket')
			sl-icon(library='fa' name='far-chess-knight')
			sl-icon(library='fa' name='far-heart')
			sl-icon(library='fa' name='far-envelopes')
			sl-icon(library='fa' name='far-grill-hot')
			sl-icon(library='fa' name='far-poo')
			//-
			sl-icon(library='fa' name='fas-rocket')
			sl-icon(library='fa' name='fas-chess-knight')
			sl-icon(library='fa' name='fas-heart')
			sl-icon(library='fa' name='fas-envelopes')
			sl-icon(library='fa' name='fas-grill-hot')
			sl-icon(library='fa' name='fas-poo')
			//-
			sl-icon(library='fa' name='fal-rocket')
			sl-icon(library='fa' name='fal-chess-knight')
			sl-icon(library='fa' name='fal-heart')
			sl-icon(library='fa' name='fal-envelopes')
			sl-icon(library='fa' name='fal-grill-hot')
			sl-icon(library='fa' name='fal-poo')
			//-
			sl-icon(library='fa' name='fat-rocket')
			sl-icon(library='fa' name='fat-chess-knight')
			sl-icon(library='fa' name='fat-heart')
			sl-icon(library='fa' name='fat-envelopes')
			sl-icon(library='fa' name='fat-grill-hot')
			sl-icon(library='fa' name='fat-poo')
			//-
			sl-icon(library='fa' name='fad-rocket')
			sl-icon(library='fa' name='fad-chess-knight')
			sl-icon(library='fa' name='fad-heart')
			sl-icon(library='fa' name='fad-envelopes')
			sl-icon(library='fa' name='fad-grill-hot')
			sl-icon(library='fa' name='fad-poo')
			//-
			sl-icon(library='fa' name='fab-apple')
			sl-icon(library='fa' name='fab-chrome')
			sl-icon(library='fa' name='fab-edge')
			sl-icon(library='fa' name='fab-firefox')
			sl-icon(library='fa' name='fab-opera')
			sl-icon(library='fa' name='fab-microsoft')
