body {
  background-color: $background-color;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.row.big3#header-row, .row.big3#footer-row {
  flex: 0 1 auto;
  width: 80%;
}

.row.big3#primary-row {
  flex: 1 1 auto;
}

#content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#links {
  margin: 0 64px;
  @include device('desktop') {
    margin: unset;
  }
}

a.icon-link {
  padding: 0 16px;
  font-size: 3em;
  line-height: 1.5;
  @include device('desktop') {
    font-size: 6em;
    line-height: unset;
  }
}