@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap');
body {
  font-family: 'Lato', sans-serif;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', serif;
}

/*
  links.css - v0.0.1 - "Smarter defaults for links"
   License MIT
*/
a {
  transition: color .4s;
  //color: #00BCD4;
  color: #B0BEC5;
  outline: 0;
  text-decoration: none;

  #icon {
    color: #EEE;
  }
}
a:link, a:visited {
  //color: #00BCD4;
  color: #B0BEC5;
}
a:hover {
  //color: #80DEEA;
  color: #CFD8DC;
}
a:active {
  transition: color .3s;
  //color: #00838F;
  color: #90A4AE;
}