h1#tycrek-name {
  font-size: 2.5em;
  @include device('desktop') {
    font-size: 5em;
  }
}

#profile-icon {
  width: 160px;
  border-radius: 80px;
  @include device('desktop') {
    width: 256px;
    border-radius: 128px;
  }
}

#website-icon {
  color: $website;
}
#email-icon {
  color: $email;
}
#github-icon {
  color: $github;
}
#discord-icon {
  color: $discord;
}
#youtube-icon {
  color: $youtube;
}
#twitch-icon {
  color: $twitch;
}
#twitter-icon {
  color: $twitter;
}
#steam-icon {
  color: $steam;
}
#spotify-icon {
  color: $spotify;
}