h1#tycrek-name {
  font-size: 5em;
}

#website-icon {
  color: $website;
}
#email-icon {
  color: $email;
}
#github-icon {
  color: $github;
}
#discord-icon {
  color: $discord;
}
#youtube-icon {
  color: $youtube;
}
#twitch-icon {
  color: $twitch;
}
#twitter-icon {
  color: $twitter;
}
#steam-icon {
  color: $steam;
}
#spotify-icon {
  color: $spotify;
}