extends ../_main
block title
	title Home - tycrek
block content
	h2 Page title
	p Some fun text, or
block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?